
.logo {
  font-family: 'Cinzel', serif;
  font-size: 40px;
  letter-spacing: 0.0425em;
  text-decoration: none;
  
}
header {
  background-color: transparent;
}

footer {
  background-color: thistle;
  position:fixed;
  bottom:0;
  width: 100%;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  
}

.blog {
  background-color: aqua;
  margin-left: auto;
}

.top-nav {
  display: flex;
  justify-content: center;
  font-family: 'Francois One', sans-serif;
  font-size: 32px;
}

.side-nav-left {
  position: absolute;
  left: 17px;
  top: 200px;
  transform: rotate(90deg);
  text-decoration: none;  
}

.side-nav-right {
  position: absolute;
  right: 17px;
  top: 200px;
  transform: rotate(90deg);
  text-decoration: none;
}

.big-only {
  display:none;
}


html { 
  background: url("helga.jpg") no-repeat center center fixed; 
  background-size: cover;
}


/* tablet and up */
@media screen and (min-width: 768px) {
  .side-nav-left, .side-nav-right {
    display: none;
  }
  .big-only {
    display: block;
    text-decoration: none;
  }

  .top-nav {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    transition: font-size 0.5s ease;
    font-size: 60px;
  }

  .logo:hover {
    opacity: 1;
    font-size: 80px;
  }
}


/* desktop and up */
@media screen and (min-width: 1024px) {

}