

header {
  background-color: aliceblue;
}

footer {
  background-color: thistle;
  position:fixed;
  bottom:0;
  width: 100%;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
}

.blog {
  background-color: aqua;
  margin-left: auto;
}

.side-nav-left, .side-nav-right {
  display: none;
}

/* tablet and up */
@media screen and (min-width: 768px) {

}

/* desktop and up */
@media screen and (min-width: 1024px) {

}